Django==1.4
Fabric==1.4.0
South==0.7.5
URLObject==2.0.1
django-bootstrap-toolkit==2.3.5
django-classy-tags==0.3.4.1
-e hg+https://boosh@bitbucket.org/boosh/django-registration@b677da2ae7cceb1a4ae26b94827ed8c0490b874b#egg=django_registration-tip
django-sekizai==0.5
djangorestframework==0.3.3
gunicorn==0.13.4
nose==1.1.2
pycrypto==2.5
pysqlite==2.6.3
ssh==1.7.13
wsgiref==0.1.2
