{% extends "base.html" %}

{% load sekizai_tags %}
{% load bootstrap_toolkit %}

{% block content %}
    {% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <!-- backbone -->
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/ICanHaz.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/backbone-min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/passwords.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/contacts.js"></script>
    {% endaddtoblock %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#passwordPanel" data-toggle="tab">Passwords</a></li>
        <li><a href="#contactPanel" data-toggle="tab">Contacts</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="passwordPanel">
            <h1 class="page-header">Passwords</h1>
            <p>Move your mouse over a password to reveal it. You can only
            edit your own passwords, not those that have been shared with you.</p>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>Notes</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <button class="btn btn-primary" data-toggle="modal"
                                    href="#passwordModal">Add new password</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="modal hide fade" id="passwordModal">
                <form method="post" id="passwordForm">
                  <div class="modal-header">
                    <button data-dismiss="modal" class="close">×</button>
                    <h3>Password Details</h3>
                  </div>
                  <div class="modal-body">
                        {{ form|as_bootstrap }}
                        {% csrf_token %}
                  </div>
                  <div class="modal-footer">
                    <a class="btn" href="#" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-primary" value="Save" />
                  </div>
                </form>
            </div>
        </div>


        <div class="tab-pane" id="contactPanel">
            <h1 class="page-header">Manage contacts</h1>
            <div class="well">
                <h3>Add new contacts</h3>
                <p>To find other users to share passwords with, enter their username below:</p>
                <form class="form-search">
                    <input type="text" placeholder="Add users by username"
                           class="search-query" id="userSearch" />
                    <input class="btn" type="submit" value="Add user" />
                </form>
            </div>

            <h3>My contacts</h3>
            <p>You can share passwords with the following users.
            If you want to stop sharing all passwords with a certain user, simply
            delete them from your list by clicking on the icon.
            </p>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>User name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
            </table>
        </div>
    </div>

    {% load verbatim %}

    <!-- ICanHaz templates -->
    {% comment %}
    Mustache and django both use {{}} tags for templates, so we need to use
    a custom template tag to output the mustache template exactly as it is.
    {% endcomment %}
    {% verbatim %}
    <script id="passwordRowTpl" type="text/html">
        <td>
            <a href="{{ url }}" target="_blank">
                {{ title }}
            </a>
        </td>
        <td>{{ username }}</td>
        <td class="password">{{ maskedPassword }}</td>
        <td>{{ notes }}</td>
        <td>
            {{#is_owner}}
            <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
            <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
            {{/is_owner}}
        </td>
    </script>

    <script id="contactRowTpl" type="text/html">
        <td>
            {{ to_user.first_name }} {{ to_user.last_name }}
        </td>
        <td>{{ to_user.username }}</td>
        <td>
            <a href="#" class="destroy" title="Delete this contact"><i class="icon-remove"></i></a>
        </td>
    </script>

    <script id="shareOption" type="text/html">
        <label class="checkbox">
            <input type="checkbox" value="{{ id }}" name="shares">
            {{ to_user.first_name }} {{ to_user.last_name }} ({{ to_user.username }})
        </label>
    </script>
    {% endverbatim %}
{% endblock %}