{% extends "base.html" %}

{% block content %}
    <h1 class="page-header">Passwords</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>User name</th>
            <th>Password</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
        {% for password in object_list %}
        <tr class="passwordRow">
            <td>{% if password.url %}
                <a href="{{ password.url }}" target="_blank">
                    {{ password.title }}
                </a>
                {% else %}
                    {{ password.title }}
                {% endif %}
            </td>
            <td>{{ password.username }}</td>
            <td class="password">{{ password.password }}</td>
            <td>{{ password.notes }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Ajax version</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>User name</th>
            <th>Password</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody id="app">
        </tbody>
    </table>

    {% load verbatim %}

    <!-- ICanHaz templates -->
    {% verbatim %}
    <script id="passwordRowTpl" type="text/html">
        <tr>
            <td>
                <a href="{{ url }}" target="_blank">
                    {{ title }}
                </a>
            </td>
            <td>{{ username }}</td>
            <td class="password">{{ password }}</td>
            <td>{{ notes }}</td>
        </tr>
    </script>
    {% endverbatim %}
{% endblock %}